#banner {
    background-color: #7F452C;
    color: white;
    text-align: center;
    margin: auto;
}

h1 {
    font-size: 50px;
    padding-top: 30px;
}

h3 {
    font-size: 18px;
    padding-bottom: 30px;
}